@import url('https://fonts.googleapis.com/css?family=ABeeZee|Ruluko&display=swap');


/* General styles */

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ruluko", sans-serif;
}

.btn {
    background-color: rgb(19, 81, 71);
    border: none;
}

/* Navbar */

.navbar {
background-color: rgb(73, 179, 140);
 }

.navbar-brand {
    width: 70%;
}

/* About */

.about-image {
    background-image: url("../images/clovers.jpg");
    background-repeat: no-repeat;
    background-size:cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
} 

.about-heading {
    margin: 15px;
    font-size: 40px;
    font-weight: bold;
}

.about-image p {
    margin: 15px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* Contact */

.contact-container {
    padding: 20px 0 40px 0;
}

.form-field,
.form-field-text {
    padding-bottom: 20px;
}

/* Footer */ 

.footer {
    background-color: rgb(73, 179, 140);
    color: rgb(214, 253, 239);
    min-height: 130px;
    padding-top: 15px;
}

.socialmedia-wrapper {              
    text-align: center;
}

.footer-heading {
    display: inline-block;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    color:  rgb(214, 253, 239);
    background: rgb(19, 81, 71);
    transition: 0.25s;
 } 

 .social-links li a i:hover {
     transform: scale(1.2);
 }

