@import url('https://fonts.googleapis.com/css?family=Ruluko&display=swap');


/* General styles */

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ruluko", sans-serif;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

.btn {
    background-color: rgb(19, 81, 71);
    border: none;
}

/* Navbar */

.navbar {
background-color: rgb(73, 179, 140);
 }

.navbar-brand {
    width: 70%;
}

.nav.navbar-nav .nav-link {
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: rgb(214, 253, 239); 
    margin-right: 10px;  
}

.navbar .navbar-toggler {
    border: none;
}

.nav.navbar-nav .nav-link:hover {
    color: rgb(19, 81, 71);
}

/* About */

.about-image {
    background-image: url("../images/clovers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* advice on Slack for Ljupko Jurevic's project, used 80vh - not responsive on tablet or mobile, creadted media query for larger devices */
    height: 160%;
    margin: 40px 5px;
 }

.cover-about {
    text-align: center;
    color: #fff;
}
.about-heading h2 {
    padding-top: 15px;
} 

.cover-about p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    padding: 0 5px 0 5px;
} 

/* Contact */

.contact-container {
    padding: 20px 0 40px 0;
}

.form-field,
.form-field-text {
    padding-bottom: 20px;
}

/* Stories */
.stories-wrapper {
    margin: 40px 20px;
}

.stories-heading {
    margin-bottom: 20px;
}

/* Footer */ 

.footer {
    background-color: rgb(73, 179, 140);
    color: rgb(214, 253, 239);
    min-height: 130px;
    padding-top: 15px;
}

.newsletter-wrapper,
.socialmedia-wrapper {
    padding-top: 15px;
}

.newsletter-wrapper {
    margin-left: 5px;
}

input[type="email"].newsfield {
    width: 300px;
}

.socialmedia-wrapper {              
    text-align: center;
}

.footer-heading {
    display: inline-block;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    color:  rgb(214, 253, 239);
    background: rgb(19, 81, 71);
    transition: 0.25s;
 } 

 .social-links li a i:hover {
     transform: scale(1.2);
 }

/* Media queries */

/*responsive logo - on tablet - https://getbootstrap.com/docs/4.1/layout/overview/ */

@media (min-width: 768px) {
    .navbar-brand {
    width: 50%;
    }
}

@media (min-width: 1270px) {
    
    .about-image {
        height: 85vh;
    }
    
    .cover-about p {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1.2px;
    }

}

